html {
  height: 100%;
  width: 100%;
}
body{
background-color: #1c95f2;
}
.titulo {
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #00a3d7;
  border: 5px solid #ffffff;;
  margin: 10px;
}
.titulo h1{
 color: #f4d01a;
font-family: 'Roboto', sans-serif;
font-size: 50px;  
}


.subtitulo{
display: flex;
justify-content: left;
align-items: center;
  height: 100px;
  margin: 10px;
}
.subtitulo p{
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.contenido{
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #00a3d7;
  border: 5px solid #ffffff;;
  margin: 10px;
  height: 200px;
}
.contenido img{
  height: 180px;
  margin: 10px;
}
.contenido p{
  color: white;
  font-family: "Bahnschrift SemiBold Condensed";
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}